.container {
    display: grid;
    justify-content: center;
    margin-top: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px;
    align-items: flex-end;
}

.inp {
    box-sizing: border-box;
    width: 204px;
    height: 48px;
    color: #48AEFF;
    font-size: 14px;
    padding: 0 20px;
    background-color: #fff;
    border: solid 1px #48AEFF;
}

.inp::placeholder {
    color: #48AEFF; 
}

.btn {
    width: 148px;
    height: 48px;
    background-color: #2699FB;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

.btn:active {
    background-color: #007FEB;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input label {
    font-size: 12px;
    color: #48AEFF;
}

#res {
    display: none;
    width: 588px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.res-text {
    color: #48AEFF;
    text-align: center;
}

.res-text > div:nth-child(1) {
    font-size: 32px;
}

.res-text > div:nth-child(2) {
    font-size: 24px;
}