.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 4px;
    align-items: flex-end;
}

.inp {
    box-sizing: border-box;
    width: 204px;
    height: 48px;
    color: #48AEFF;
    font-size: 14px;
    padding: 0 20px;
    background-color: #fff;
    border: solid 1px #48AEFF;
}

.inp::placeholder {
    color: #48AEFF; 
}

.btn {
    width: 148px;
    height: 48px;
    background-color: #2699FB;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 12px;
    font-weight: bold;
}

.btn:active {
    background-color: #007FEB;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-input label {
    font-size: 12px;
    color: #48AEFF;
}